@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Sorts+Mill+Goudy&display=swap');

/* General Styles and Mobile-First Design */

body {
  background-color: #F6EEEA;
  color: black;
  margin: 20px;
}

header {
  margin-top: 11px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -11px;
}

/* nav in header */ 

.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-bottom: 35px;
  margin-left: -49px;
  margin-top: 12px;
}

/* nav in header */ 

.main-nav a {
  color: black;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.container {
  margin-bottom: 200px;
}

main img {
  margin-left: -8px;
  margin-top: -11px;
  padding: 0px;
}

/* "Hi, I'm Kylie!" */ 

.hello { 
  color: #E7530B;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-top: 20px;
}

/* body paragraph "I am a technical writer from...*/ 

.about-paragraph {
  font-family: 'Sorts Mill Goudy', serif;;
  font-size: 1.1rem;
  margin-left: -8px;
}

footer {
  bottom: 0;
  color: black;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 2px;
  position: fixed;
  width: 100%;
}

.footer-nav  {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  margin-left: -2px;
}

footer h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: -5px;
}

footer a {
  color: black;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: .8rem;
  margin-left: -38px;
  text-decoration: none;
}

/* hover color for all links */ 

a:hover {
  color: grey;
}

/* Tablet Styles */

@media screen and (min-width: 600px) {

  body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: 
      "header header nav nav"
      "header header nav nav" 
      "header header nav nav"
      ". . . ."
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer"
      "footer footer footer footer"
      "footer footer footer footer";
    grid-template-columns: 4fr;
  }

  header {
    grid-area: header;
  }

  /* nav in header */ 

  .main-nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  header {
    padding-bottom: 70px;
  }

  header h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    margin-top: 13px;
  }

  /* nav in header */ 

  .main-nav {
    margin-top: 20px;
  }

  /* nav in header */ 

  .main-nav a {
    font-size: 1.2rem;
  }

  footer h2 {
    font-size: 1.2rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  footer a {
    font-size: 1rem;
  }
}

/* Desktop Styles */

@media screen and (min-width: 755px) {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /* main image */ 
  
  .headshot {
    padding-left: 80px;
  }

  /* "Hi, I'm Kylie!" */ 

  .hello {
    padding-left: 38px;
    padding-right: 80px;
    margin-top: -17px;
  }

  /* body paragraph "I am a technical writer from...*/ 

  .about-paragraph {
    font-size: 1.1rem;
    padding-left: 40px;
    padding-right: 80px;
  }

}