@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Sorts+Mill+Goudy&display=swap');

/* General Styles and Mobile-First Design */

body {
  background-color: #E7530B;
  color: white;
  margin: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -11px;
}

/* nav in header */ 

.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin-left: -50px;
  margin-top: 5px;
}

/* nav in header */ 

.main-nav a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  overflow-wrap: normal;
  margin-bottom: 50px;
  margin-top: -20px;
}

/* main text "Entry-level technical writer...*/ 

.quick-intro p {
  font-size: 2.8rem;
}

/* header in footer */ 

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: -5px;
}

footer {
  bottom: 0;
  color: white;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 2px;
  position: fixed;
  width: 100%;
}

.footer-nav  {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-left: -38px;
}

.footer-nav a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
}

/* hover color for all links */ 

a:hover {
  color: grey;
}

/* Tablet Styles */

@media screen and (min-width: 600px) {

  body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: 
      "header header nav nav"
      "header header nav nav" 
      "header header nav nav"
      ". . . ."
      "section section section section"
      "section section section section"
      "section section section section"
      "footer footer footer footer"
      "footer footer footer footer"
      "footer footer footer footer";
    grid-template-columns: 4fr;
  }

  header {
    grid-area: header;
  }

  .main-nav {
    grid-area: nav;
  }

  section {
    grid-area: section;
  }

  footer {
    grid-area: footer;
  }

  header h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
  }

  /* nav in header */ 

  .main-nav {
    margin-top: 21px;
  }

  /* nav in header */ 

  .main-nav a {
    font-size: 1.2rem;
  }

  /* main section "Entry-level technical writer...*/ 

  .quick-intro {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-column: 2 / 9;
    grid-row: 2 / 9;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  /* main text "Entry-level technical writer...*/ 

  .quick-intro p {
    font-size: 3.2rem;
    grid-column: 2 / 9;
    grid-row: 2 / 9;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }

  footer {
    margin-left: -19px;
  }
  
  footer h2 {
    font-size: 1.2rem;
  }

  .footer-nav a {
    font-size: 1rem;
  }
}

/* Desktop Styles */

@media screen and (min-width: 755px) {

  header h1 {
    font-size: 2rem;
  }

  /* nav in header */ 

  .main-nav {
    margin-top: 23px;
  }

  /* nav in header */ 

  .main-nav a {
    font-size: 1.2rem;
  }

  /* main section "Entry-level technical writer...*/ 

  .quick-intro {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-column: 2 / 9;
    grid-row: 2 / 9;
    margin-left: 30px;
  }

  /* main text "Entry-level technical writer...*/ 

  .quick-intro p { 
    font-size: 3.5rem;
    grid-column: 2 / 9;
    grid-row: 2 / 9;
    padding-bottom: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer h2 {
    font-size: 1.2rem;
  }

  footer a {
    font-size: 0.9rem;
  }
}

/* Styles for even bigger screen sizes */

@media screen and (min-width: 1000px) {

  /* nav in header */ 

  .main-nav {
    margin-top: 24px;
  }

  /* main text "Entry-level technical writer...*/ 

  .quick-intro p {
    font-size: 4.7rem;
  }

}