@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Sorts+Mill+Goudy&display=swap');

body {
  background-color:#E7530B;
  color: white;
  margin: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -11px;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-bottom: 5px;
  margin-left: -50px;
  margin-top: 5px;
}

.main-nav a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.projects h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin-left: -7px;
}

.projects-list {
  list-style: none;
}

.projects-list li {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.projects-list a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
}

.publications {
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.publications h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: -7px;
}

.publications-list {
  list-style: none;
}

.publications-list li {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.publications-list a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -5px;
}

footer {
  bottom: 0;
  color: white;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 2px;
  position: fixed;
  width: 100%;
}

.footer-nav  {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin-left: -38px;
}

.footer-nav a {
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: grey;
}

@media screen and (min-width: 600px) {

  body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: 
      "header header nav nav"
      "header header nav nav" 
      "header header nav nav"
      ". . . ."
      "main main main main"
      "main main main main"
      "main main main main"
      "footer footer footer footer"
      "footer footer footer footer"
      "footer footer footer footer";
    grid-template-columns: 4fr;
  }

  header {
    grid-area: header;
  }

  .main-nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  header h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
  }

  .main-nav {
    margin-top: 21px;
  }

  .main-nav a {
    font-size: 1.2rem;
  }

  footer {
    margin-left: -19px;
  }
  
  footer h2 {
    font-size: 1.2rem;
  }
  
  .footer-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer-nav a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 755px) {

  header h1 {
    font-size: 2rem;
  }

  .main-nav {
    margin-top: 23px;
  }

  nav a {
    font-size: 1.2rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer h2 {
    font-size: 1.2rem;
  }

  footer a {
    font-size: 0.9rem;
  }
}